<!-- <div class="body_tech">
    <div class="content">
        <div class="left">
            <div class="title">
                Innovation and technology
            </div>
            <div class="desc">
                Angry Rabbit Studios is an all-inclusive design and development studio specializing in Mobile and
                Desktop
                Applications,
                Website Development and is currently working on designing a new and unique massively multiplayer game.
                Our
                founding
                members are all committed to excellence and building quality products. We also enjoy our video games,
                and
                are passionate
                about playing and having a good time. We are excited that you have considered our company.
            </div>
        </div>
        <div class="right">
            <img src="../../assets/img/woman.png" />
        </div>
    </div>
</div> -->

<div class="body_tech">
    <div class="row mycontainer">
        <div class="col-2 col-m-1"></div>
        <div class="col-4 col-m-4" style="margin-top: 60px;">
            <div class="title">
                Innovation and technology
            </div>
            <div class="desc">
                Angry Rabbit Studios is an all-inclusive design and development studio specializing in Mobile
                and
                Desktop
                Applications,
                Website Development and is currently working on designing a new and unique massively multiplayer
                game.
                Our
                founding
                members are all committed to excellence and building quality products. We also enjoy our video
                games,
                and
                are passionate
                about playing and having a good time. We are excited that you have considered our company.
            </div>
        </div>
        <div class="col-1 col-m-1"></div>
        <div class="col-4 col-m-6">
            <img src="../../assets/img/woman.png" class="woman" />
        </div>
    </div>

</div>