<!-- <app-top-bar></app-top-bar> -->

<div class="">
  <!--   <router-outlet>

  </router-outlet>-->
  <app-intro></app-intro>
  <app-technology></app-technology>
  <app-service></app-service>
  <app-community></app-community>
  <app-portfolio></app-portfolio>
  <app-about></app-about>
  <app-footer></app-footer>
  <!-- <app-parallax-exam></app-parallax-exam> -->
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->