<div class="body_community">
    <p class="title">Community</p>
    <p class="subtitle">Our best projects with companies<br /> around
        the world.</p>
    <div class="desc">
        <p>
            Community is what makes online games enjoyable. We want to build a huge community and meet new people and
            have a
            good
            time. Whether is folks from Portugal, Australia, or Etonia, or Frane over the yeras we have met such
            outstanding
            people
            while online and it really has opened our eyes to how tight nit the gaming communities are. So with that in
            mind
            we hope
            to build a place where people can gather to enjoy our games, and that we can gather to enjoy our friends.
        </p>
    </div>
    <div class="btn">Learn more</div>
</div>