.body_community {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 152px;
    .title {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.43;
        letter-spacing: 0.8px;
        text-align: center;
        color: #1c1b1f;
        margin: 0 auto;
    }
    .subtitle {
        font-family: Poppins;
        font-size: 19px;
        line-height: 1.47;
        letter-spacing: 0.38px;
        text-align: center;
        color: #1c1b1f;
        margin: 0 auto;
        margin-top: 16px;
    }
    .desc {
        width: 50%;
        opacity: 0.7;
        font-family: Poppins;
        font-size: 19px;
        line-height: 2;
        letter-spacing: 0.49px;
        text-align: center;
        color: rgba(29, 29, 29, 0.7);
        margin: 0 auto;
        margin-top: 70px;
    }
    .btn {
        width: 165px;
        height: 52px;
        object-fit: contain;
        background-image: url('../../assets/img/btn_back.png');
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        background-color: none;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .body_community {
        max-width: 90%;
        margin-top: 50px;
        .desc {
            width: 100%;
            margin-top: 20px;
            position: relative;
            text-align: justify;
        }
        .btn {
            position: relative;
            margin-top: 0px;
        }
    }
}